<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
		a {color:LightGray}
		img {width:50%; margin-left:auto; margin-right:auto; display:block}
    </style>
  </head>

  <body style="background-color:LightGray; margin:0px">

	<% if account_signed_in? %>
		<nav style="display:flex; justify-content:space-between; background-color:#0e00ab; color:White; margin:0px; padding:15px">
			<div id="nav-links">
				<%= link_to "News Feed", dashboard_path %> |
				<%= link_to "New Post", new_post_path %> |
				<a href="#">Profile</a>
			</div>
			<input type="text" placeholder="Search..." style="width:30%">
			<%= button_to "Sign Out", destroy_account_session_path, method: :delete, class: "signout" %>
		</nav>
	<% else %>
		<nav style="display:flex; justify-content:space-between; background-color:#0e00ab; color:White; margin:0px; padding:15px">
			<%= link_to "Home", "/" %>
			<%= button_to "Sign In", new_account_session_path %>
		</nav>
	<% end %>

	<div id="content-wrapper" style="padding-left:50px; padding-right:50px; display:flex; justify-content:space-between">
      <%= yield %>
	</div>
  </body>
</html>
