<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body style="background-color:Gray">
  <style>
	a {color:DimGray}
	p {color:White}
	h1 {color:White}
	h2 {color:White}
	img {width:50%; margin-left:auto; margin-right:auto; display:block}
  </style>
	<% if account_signed_in? %>
		<nav style="background-color:LightGray">
			<%= link_to "News Feed", dashboard_path %> |
			<%= link_to "New Post", new_post_path %> |
			<a href="#" style="color:white">Profile</a> |
			<%= button_to "Sign Out", destroy_account_session_path, method: :delete, class: "signout" %>
		</nav>
	<% else %>
		<nav>
			<%= link_to "Home", "/" %> |
			<%= link_to "Sign In", new_account_session_path %>
		</nav>
	<% end %>

    <%= yield %>
  </body>
</html>
